.home__presentation {
    padding-left: 50px;
    height: 300px;
    border-radius: 5px;
}


/* WELCOME BOX */
.home__welcome {
    padding-left: 50px;
}

.home__welcome__presentation {
    margin: 15px 0px 15px 22px;
    line-height: 21px;
    max-width: 60%;
    font-size: 14px;
}


/* home presentation */
.home__presentation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home__presentation__container {
    display: flex;
    flex-direction: column;
}

.home__presentation p {
    margin-right: 15px;
}

.home__presentation_name {
    display: flex;
    font-size: 45px;
    color: black;
    font-weight: 600;
    margin-bottom: 15px;
}

.home__presentation__name__prenom {
    animation-delay: 0s;
}

.home__presentation__name__nom {
    animation-delay: 0.2s;
}

.home__presentation__name__dev {
    animation-delay: .5s;
}

.home__presentation__name__web {
    animation-delay: .7s;
}

.home__presentation__name__nom::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 4px;
    left: 24px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    height: 33%;
    background: linear-gradient(to right bottom, rgb(4, 162, 159), rgb(50, 230, 226));
    animation-name: underline;
    animation-duration: 1.6s;
    animation-delay: 1.3s;
    animation-timing-function: cubic-bezier(.85, 0, .15, 1);
    animation-fill-mode: forwards;
}

.home__presentation img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    z-index: -2;
}

.home__presentation__container__right {
    max-width: 282px;
    margin-left: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__presentation__container__right p {
    font-family: cursive;
    color: darkslategray
}

.home__welcome button {
    margin: 22px 5px;
}

.home__welcome .btn-projects {
    background-color: rgb(228, 87, 107);
    border: none;
    color: white;
}

.home__welcome .btn-contact {
    background-color: rgb(228, 87, 107);
    border: none;
    border: 1px solid black;
    color: black;
    background-color: white;
}

.home__welcome .btn:before {
    content: "";
    position: absolute;
    z-index: 9999;
    height: 311px;
    width: 100px;
    filter: blur(10px);
    background: linear-gradient(to right, #ffffff3d 30%, #ffffff1a);
    top: -30px;
    transition-duration: 1.5s;
    transform: translate(-200%) skew(-25deg);
}

.home__welcome .btn:hover:before {
    transform: translateX(100%) skewX(-25deg);
    transition-duration: 1s;
}

.home__welcome .btn-red:before {
    content: "";
    position: absolute;
    z-index: 9999;
    height: 311px;
    width: 100px;
    filter: blur(10px);
    background: linear-gradient(to right,
            rgba(228, 87, 107, 0.4) 30%,
            rgba(228, 87, 107, 0.15));
    top: -30px;
    transition-duration: 1.5s;
    transform: translate(-200%) skew(-25deg);
}

body .home__welcome .btn-projects {
    background-color: rgb(228, 87, 107);
    border: none;
    color: white;
}

body .home__welcome .btn-contact {
    background-color: rgb(228, 87, 107);
    border: none;
    border: 1px solid black;
    color: black;
    background-color: white;
}

.home__presentation__container__legend {
    color: #595757;
    font-size: 10px;
    font-weight: 500;
    padding-top: 30px;
}

.home__welcome .btn-red:hover:before {
    transform: translateX(100%) skewX(-25deg);
    transition-duration: 1s;
}


.home__welcome button i {
    margin-right: 10px;
}

.home__welcome {
    max-width: 1000px;
}

.home__welcome__subtitle {
    margin: 21px;
    font-weight: 600;
    color: grey;
}

.jump {
    animation-name: jump;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(60px);
}

.home__presentation_job {
    display: flex;
    font-size: 35px;
    color: grey;
}

body .home__presentation .home__welcome {
    margin-top: 0px;
}

/* home aPropos */
.home__aPropos {
    padding-left: 50px;
    margin-top: 25px;
}

.home__aPropos h1 {
    font-size: 25px;
}

.home__aPropos p {
    margin-top: 14px;
}

.home__aPropos__blocs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.home__aPropos__blocs__top,
.home__aPropos__blocs__bottom {
    display: flex;
}

.home__aPropos__blocs__block {
    max-width: 371px;
    margin: 15px 10px;
}



@keyframes growUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes underline {
    0% {
        transform: scaleX(0)
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes jump {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    50% {
        opacity: 1;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}