.skills__presentation {
    max-width: 1000px;
}

.skills__presentation__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 15px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.skills__presentation__container__skill {
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
    color: rgb(84, 90, 97);
    padding: 15px;
    margin: 10px;
}

.skills__presentation__container__skill--header {
    display: flex;
    align-items: center;
}

.skills__presentation__container__skill--body {
    display: flex;
}



.skills__presentation__container__skill__left {
    display: flex;

}

.skills__presentation__container__skill__left img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-right: 15px;

}

.skills__presentation__container__skill__right {
    display: flex;
}

.skills__explication__text {
    padding-left: 15px;
}

.skills__explication__text p {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.428571429;
    max-width: 600px;
    min-width: 300px;
    margin: 15px;
}

.skills__presentation__container__skill {
    transition: .6s;
}

.skills__presentation__container__skill:hover {
    transform: translateY(-10px);
    border: 1px solid rgb(4, 162, 159);
}

/* partie dynamique */
.skills__presentation__container {
    display: flex;
}

.skills__presentation__container__fiche {
    display: flex;
    align-items: start;
    margin-right: 30px;
    border-top: 1px solid rgba(0, 0, 0, .3);
    padding-top: 25px;
}

.skills__presentation__container__fiche img {
    margin-right: 15px;
    animation-name: popUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.skills__presentation__container__fiche>div {
    max-width: 345px;
    font-size: 12px;
    animation-name: appearsFromRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.skills__presentation__container__fiche p {
    margin-bottom: 10px;
}

.skills__presentation__container__fiche h3 {
    margin-bottom: 5px;
    font-size: 22px;
}

.skills__presentation__container__imgs img {
    width: 40px;
    height: 40px;
    margin: 5px;
    object-fit: cover;
    transition: .6s;
    cursor: pointer;
}

.skills__presentation__container__imgs img:hover {
    transform: translateY(-10px);
}

.skills__presentation__container__fiche img {
    width: 270px;
    height: 270px;
    padding:
        30px;
    object-fit: cover;
}

.skills__presentation__container__imgs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 21px;
}

.skills__presentation__container__fiche li {
    margin-left: 13px;
}

.skills__presentation__container__fiche h4 {
    margin-top: 17px;
    color: rgb(2, 130, 127);
}

.ficheSkill_imgContainer {
    position: relative;
}

.ficheSkill_imgContainer h3 {
    position: absolute;
    top: 0px;
    left: 15px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 3px;
    background-color: white;
}

/* description  */

.skills__description__subTitles h2 {
    margin-bottom: 15px;
}

.skills__description {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.skills__description ul {
    padding: 15px;
}

.skills__description ul h3 {
    cursor: pointer;
}

.skills__description ul li {
    padding-left: 15px;
    font-size: 14px;
}

.skills__description__details {}

.skills__description__details__text {
    margin-bottom: 15px;
    padding-left: 15px;
}

.skills__description__details__text p {
    max-width: 350px;
    font-size: 13px;
}

.skills__description__details__img img {
    width: 350px;
    height: 200px;
    object-fit: fill;
    cursor: pointer;
    padding-left: 15px;
    animation-name: appearsFromRight;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.appearsFromRight {
    animation-name: appearsFromRight;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.subTitlesContainer {
    overflow: hidden;
}

.skills__description__subTitles__fiche {
    cursor: pointer;
    padding-left: 15px;
}

.skills__description__subTitles__fiche ul {
    transform: translateY(-100%);
}

.subTitlesContainer {}

.skills__description__subTitles__fiche .subTitlesContainer {
    height: 20px;
}

.activeFiche .subTitlesContainer {
    height: auto;
}

.activeFiche ul {
    transform: translateY(0%);
    animation-name: goDownFromSky;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.skills__description__subTitles__fiche h3:hover {
    color: rgb(4, 162, 159);
}

.skills__description__subTitles__fiche h3 {
    transition-duration: .4s;
}

.activeFiche h3 {
    color: rgb(4, 162, 159);
}

.activeFiche h3::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: rgb(4, 162, 159);
    /* display: inline-block; */
    margin-right: 6px;
}

.underline-green {
    background-color: rgb(190, 249, 198);
    padding: 3px;
}