.projects__presentation__container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.projects__presentation__container__project {
    display: flex;
    justify-content: space-between;
}

.projects__presentation__container__project--img {
    margin: 5px;
    width: 200px;
}

.projects__presentation__container__project--img img {
    width: 150px;
    height: 100px;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects__presentation__container__project--technos {
    display: flex;
    margin: 15px;
}

.projects__presentation__container__project--technos img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin: 5px;
}

.projects__presentation__container__project a {
    margin-right: 30px;
}

.projects__presentation__container__project--description li {
    font-size: 13px;
    max-width: 500px;
    min-width: 405px;
}

.projects__presentation__container__project {
    display: flex;
    align-items: center;
    padding: 10px;
}

.projects__presentation{
    max-width: 996px;
}

.projects__presentation__container__project--name {
    display: flex;
    width: 236px;
    margin-right: 15px;
    justify-content: space-between;
    align-items: center;
}

.projects__presentation__container__project {
    opacity:0;
    animation-name: appearsFromTop;
    animation-duration:500ms;
    animation-fill-mode: forwards;
}

.projects__presentation__container__project:hover {
    background-color: rgba(0, 0, 0, .1);
}

.projects__presentation__container__project>div {
    display: flex;
    align-items: center;
}

.showMore {
    background: linear-gradient(to right bottom, rgb(4, 162, 159), rgb(50, 230, 226));

    bottom: 0px;
    color: black;
    cursor: pointer;
    padding: 15px;
}

.unvisible {}

.undisplayed {
    display: none;
}

.projects__presentation__container__project--name p {
    text-align: center;
}



.showMore {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 15px 30px;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    overflow: hidden;
    border-radius: 5px;
}

.show_large {
    width: 100%;
    display: flex;
    justify-content: center;
}

.showMore:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 20px;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 0 10px #fff;
    filter: blur(1px);
    top: -30px;
    transform: translateX(-100px) rotate(-45deg);
}

.showMore:hover:before {
    animation: btnAnimation 1.3s linear infinite;
}

.projects__presentation__container__project--description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
}

.projects__presentation__container__project--name>div {
    display: flex;
    align-items: center;
}

.projects__presentation__container__project--name p {
    color: rgb(34, 130, 64);
    font-weight: 600;
    font-size: 14px;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: rgb(34, 130, 64);
    border-radius: 50%;
    padding: 5px;
    border: 6px double white;
    margin-right: 6px;
}

.circle-green {
    background-color: rgb(34, 130, 64);
}

.circle-red {
    background-color: rgb(228, 43, 43);
}

.project-large {
    display: flex;
}

.focus__footer__head p {}


.projectFocusImg {
    width: 35px;
    height: 35px;
    margin: 5px;
}

.project-focus__head__right img {
    width: 264px;
    height: 165px;
    border-radius: 5px;
    border: 1px solid rgba(22, 24, 26, 0.05);
}

.project-focus__head div {
    display: flex;
    margin-right: 15px;
}

.project-focus__head__between {
    display: flex;
    justify-content: space-between;
}

.project-focus__head__left {
    display: flex;
    flex-direction: column;
}



.project-focus__head__left--description {
    margin-bottom: 15px;
    font-size: 13px;
    background-color: rgb(190, 249, 198);
    padding:
        3px;
    border-radius:
        3px;
}

.project-focus__main__head p {}

.project-focus__main__functionalities li {
    list-style-type: none;
    margin: 5px 0px;
    padding-left: 5px;
    padding: 12px;
    margin-bottom: 5px;
    font-size: 13px;
}
.project-focus ul{
    border: 1px solid rgba(0,0,0,.1);
}

.project-focus__main__functionalities {

}

/* carouselle */
.focus__footer__pictures__frame {
    overflow: hidden;
    width: 388px;
    height: 263px;
    position: relative;
}

.focus__footer__pictures__slideContainer {
    display: flex;
    transition-duration: 400ms;
}

.focus__footer__pictures__slideContainer img {
    width: 388px;
    height: 263px;
    object-fit: cover;
    flex-shrink: 0;
}

.carrouselleLeft,
.carrouselleRight {
    position: absolute;
    top: 0px;
}

.carrouselleLeft:hover,
.carrouselleRight:hover {
    background-color: rgba(211, 211, 211, 0.1);
    cursor: pointer;
}

.carrouselleLeft {
    left: 0px;
    width: 194px;
    height: 263px;
}

.carrouselleRight {
    right: 0px;
    width: 194px;
    height: 263px;
}


@keyframes btnAnimation {
    0% {
        transform: translateX(-100px) rotate(-45deg);
    }

    100% {
        transform: translateX(250px) rotate(-45deg);
    }
}