
/* utils */
@import "./utils/miseEnPage.css";
@import "./utils/utils.css";
@import "./utils/animation.css";
@import "./utils/mediaQueries.css";

/* layout */
@import "./layout/header.css";
@import "./layout/footer.css";
@import "./layout/nav.css";

/* pages */
@import "./pages/accueil.css";
@import "./pages/competences.css";
@import "./pages/projets.css";
@import "./pages/contact.css";