.rectangle {
    width: 75%;
    margin-left: 50px;
    min-height: 229px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin-top: 50px;
    color: rgb(84, 90, 97);
    width: 75vw;
}

.rectangle-small {
    width: 90%;
    margin-left: 50px;
    min-height: 229px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin-top: 50px;
    color: rgb(84, 90, 97);
    padding: 20px;
}

.rectangle h2 {
    font-weight: 600;
    color: rgba(0, 0, 0, .8);
    padding: 15px 15px 5px 15px;
    margin: 15px 20px 30px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin:
        7px;
    padding:
        20px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.gris-clair {
    background-color: rgb(248, 248, 248);
}

.btn {
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    transition-duration: 0.4s;
    background-color: rgb(233, 235, 237);
    color: black;
    font-weight: 600;
    text-transform: capitalize;
    padding: 9px 12px;
}

.btn-info:hover {
    background-color: rgb(222, 255, 254);
    color: rgb(1, 96, 153);
}

.btn-blue {
    font-weight: 500;
    border: 2px solid rgb(9, 105, 218);
    background-color: white;
    color: rgb(37, 41, 46);
}

.btn-blue:hover {
    background-color: rgb(190, 249, 198);
    color: black;
    border: 2px solid black;
}

.bg_Grey {
    background-color: rgba(173, 168, 168, 0.08);
}

.btn:before {
    content: "";
    position: absolute;
    z-index: 9999;
    height: 311px;
    width: 100px;
    filter: blur(10px);
    background: linear-gradient(to right, #ffffff3d 30%, #ffffff1a);
    top: -30px;
    transition-duration: 1.5s;
    transform: translate(-200%) skew(-25deg);
}

.btn:hover:before {
    transform: translateX(100%) skewX(-25deg);
    transition-duration: 1s;
}


.theme {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(36, 34, 33, 0.4);
    z-index: 9999999;
    pointer-events: none;
}


.dark {
    cursor: pointer;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(4, 162, 159);
}

.darkMode {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition-duration: .6s;
    background-color: white;
}

.move {
    transform: translateX(25px);
}

.bold {
    font-weight: 600;
    color: black;
}

.bold-red {
    font-weight: 600;
    color: red;
}

.focus-title {
    color: rgb(53, 58, 62);
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 10px;
}

.grisClair {
    background-color: rgb(242, 242, 242);
}

.redPale {
    color: rgb(228, 87, 107);
}

.greenPale {
    color: rgb(20, 134, 96);
}

.bluePale {
  background-color: rgb(190, 249, 198);
  padding: 3px;
}